@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/*---------------------*/
.memo{
  background-color: rgba(144,144,144,0.5);
  border-radius: 5px;
  margin-top:15px;
  padding: 5px 15px;
}

/*header*/
.header {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header div {
  display: flex;
  margin-top:5px;
  margin-left: 30px;
}

.header div > img {
  align-self: center;
  margin-top: 5px;
  margin-bottom: 10px;
  width:50px;
  height: 50px;
  padding-right: 10px;
}

.header div > p {
  align-self: center;
  margin:10px 5px;
  font-size: 35px;
}

.header > p {
  margin:0 20px;
  font-size: 20px;
}

/*main*/
.main {
  margin: 0 auto;
  width:70%;
}

.main h4{
  padding-top:20px;
  margin-left:30px;
}